<div class="readme-container">
    <p>This is a simple online Tic-Tac-Toe game I developed using:</p>
    <div class="container-elements">
        <div class="element">
            <img src="/assets/quarkus.svg" alt="">
            <p>for a lightweight and efficient backend written in Kotlin</p>
        </div>
        <div class="element">
            <img src="/assets/angular.png" alt="">
            <p>for a user-friendly and responsive experience</p>
        </div>
        <div class="element">
            <img src="/assets/websocket.svg" alt="">
            <p>Websockets for real-time updates, multiplayer interaction, turn management, and game state synchronization</p>
        </div>
        <div class="element">
            <img src="/assets/gcp.svg" alt="">
            <p>Cloud Run for the server and Buckets for Angular static files</p>
        </div>
    </div>
    <div class="links">
        <img (click)="openGithub()" src="/assets/github-square.svg" alt="">
        <img (click)="openLinkedin()" src="/assets/linkedin.svg" alt="">
    </div>

</div>
